@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* background: rgb(114, 137, 124); */
}

.nav {
  background: rgb(72, 77, 74);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.nav-list li {
  list-style: none;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: rgb(187, 187, 187);
  margin: 1.5rem;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #a8a8a8;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(114, 137, 124);
  color: #222;
  min-height: calc(100vh - 100px);
}

.img-container img {
  max-width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 2.5rem;
}

.content-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.content-text {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  background: white;
  max-width: 25%;
  border: none;
  padding: 1rem;
  border-radius: 9px;
  color: #333;
  transition: all 0.3s;
  box-shadow: 2px 2px #888888;
}

.btn:hover {
  background-color: #e6e6e6;
}

.footer {
  background: rgb(72, 77, 74);
  color: rgb(187, 187, 187);
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  margin-bottom: 1rem;
}

.footer-btn {
  margin: 0 auto;
  padding: 0.7rem;
  max-width: 15%;
}
